body {
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr 80px ;
}

.header {
    background-color: aqua;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: cadetblue;
    /* grid-column: 1 / 3; */
}

.sidebar {
    background-color: burlywood;
    grid-row: 2 / 4;
}